@import "internals";
$module: typography;

@mixin typographyModule($breakpoint: "") {
  @if $breakpoint != "" {
    $breakpoint: -#{$breakpoint};
  }

  &-size {
    &.#{$module}-h1#{$breakpoint}{
      @include getCssFromStrucure(typography("h1"));
    }
    &.#{$module}-h2#{$breakpoint}{
      @include getCssFromStrucure(typography("h2"));
    }
    &.#{$module}-h3#{$breakpoint}{
      @include getCssFromStrucure(typography("h3"));
    }
    &.#{$module}-h4#{$breakpoint}{
      @include getCssFromStrucure(typography("h4"));
    }
    &.#{$module}-h5#{$breakpoint}{
      @include getCssFromStrucure(typography("h5"));
    }
    &.#{$module}-h6#{$breakpoint}{
      @include getCssFromStrucure(typography("h6"));
    }
    &.#{$module}-body1#{$breakpoint}{
      @include getCssFromStrucure(typography("body1"));
    }
    &.#{$module}-body2#{$breakpoint}{
      @include getCssFromStrucure(typography("body2"));
    }
    &.#{$module}-subtitle1#{$breakpoint}{
      @include getCssFromStrucure(typography("subtitle1"));
    }
    &.#{$module}-subtitle2#{$breakpoint}{
      @include getCssFromStrucure(typography("subtitle2"));
    }
    &.#{$module}-button#{$breakpoint}{
      @include getCssFromStrucure(typography("button"));
    }
    &.#{$module}-caption#{$breakpoint}{
      @include getCssFromStrucure(typography("caption"));
    }
    &.#{$module}-overline#{$breakpoint}{
      @include getCssFromStrucure(typography("overline"));
    }
  }
  &-weight {
    &.#{$module}-light#{$breakpoint}{
      font-weight: typography("fontWeightLight");
    }
    &.#{$module}-regular#{$breakpoint}{
      font-weight: typography("fontWeightRegular");
    }
    &.#{$module}-medium#{$breakpoint}{
      font-weight: typography("fontWeightMedium");
    }
    &.#{$module}-bold#{$breakpoint}{
      font-weight: typography("fontWeightBold");
    }
  }
  &-align {
    &.#{$module}-left#{$breakpoint}{
      text-align: left;
    }
    &.#{$module}-center#{$breakpoint}{
      text-align: center;
    }
    &.#{$module}-right#{$breakpoint}{
      text-align: right;
    }
    &.#{$module}-justify#{$breakpoint}{
      text-align: justify;
    }
  }
}

/**
 * Typography module
*/

.mod-#{$module} {
  @include typographyModule();

  @each $scale, $size in $breakpoints {
    @media #{breakpoints_up($scale)} {
      @include typographyModule(#{$scale});
    }
    @media #{breakpoints_down($scale)} {
      @include typographyModule(#{$scale}-down);
    }
    @media #{breakpoints_only($scale)} {
      @include typographyModule(#{$scale}-only);
    }
  }
}
