/**
 * Flex module
*/
.flex {display: flex;}
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.flex-grow {flex-grow: 1;}
.flex-align-start {align-items: flex-start;}
.flex-align-center {align-items: center;}
.flex-align-end {align-items: flex-end;}
.flex-justify-start {justify-content: flex-start;}
.flex-justify-center {justify-content: center;}
.flex-justify-end {justify-content: flex-end;}
.flex-justify-between {justify-content: space-between;}
.flex-justify-around {justify-content: space-around;}
.flex-self-start {align-self: flex-start;}
.flex-self-end {align-self: flex-end;}
.flex-self-center {align-self: center;}
.flex-self-stretch {align-self: stretch;}
